@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Signika+Negative&display=swap');

div {
    border: ridge;
    text-align: center;
    width: 1000px;
    height: 700px;
    margin:auto;
    padding: 50px;
    
}


h1{
    text-align: center;
    font-size: 50px;
}

label {
    font-size: 30px;
}

button{
    margin: 20px;
    padding : 10px;
    width: 100px;
    border-radius: 10px;
}
